<div
  class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat"
  style="background-image: url('/public/static/fondo.png')"
>
  <div
    class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8"
  >
    <div class="text-white">
      <div class="mb-8 flex flex-col items-center">
        <h1 class="mb-2 text-2xl font-bold">VALMOS PELIS</h1>
        <span class="text-gray-300">Inisiar sesion</span>
      </div>
      <form (ngSubmit)="onLogin()">
        <div class="mb-4 text-lg">
          <input
            class="rounded-3xl border-none bg-black bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Correo"
            required
          />
        </div>

        <div class="mb-4 text-lg">
          <input
            class="rounded-3xl border-none bg-black bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Contrasena"
            required
          />
        </div>
      </form>
      <button
        type="submit"
        class="rounded-3xl bg-black bg-opacity-50 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-white hover:text-black"
      >
        Iniciar
      </button>
    </div>

    <div class="">
      <div class="mt-8 flex justify-center text-lg text-white">
        <button
          (click)="onGoogleSignIn()"
          class="rounded-3xl bg-black bg-opacity-50 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-white hover:text-black"
        >
          Iniciar sesion con Google
        </button>
      </div>
      <div class="mt-8 flex flex-col justify-center text-lg text-white">
        <a class="text-sm" (click)="navigateToRegister()">Registrarse</a>
        <a class="text-sm" (click)="navigateToResetPassword()">Recuperar contrasena</a>
      </div>
    </div>
  </div>
</div>
